@model List<SICOAdmin1._0.Models.ActionType.TypeActionPers>



@{
    List<int?> lstActions = (List<int?>)Session["lstActions"];
    if (lstActions == null)
    {
        lstActions = new List<int?>();
    }

    bool puedeModificar = false;

    if (lstActions.Contains(42)) { puedeModificar = true; }

}


<table id="tbTypeActionPers" class="table table-bordered ">
    <thead>
        <tr>
            <th>#</th>
            <th>Descripción</th>
            <th>Acción</th>
            <th>Estado Empleado</th>
            <th>Restablecer Estado</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody style="text-align:center;">
        @if (Model != null)
        {
            foreach (var t in Model)
            {
                <tr>
                    <td>@t.IdTypeActionPers</td>
                    <td>@t.Description</td>
                    <td>@t.TypeAction</td>
                    <td>@t.StatusEmployed</td>
                    @if (@t.ResetState == true)
                    {
                        <td>Sí</td>
                    }
                    else
                    {
                        <td>No</td>
                    }

                    <td>
                        @if (puedeModificar)
                        { 
                        
                            <button data-toggle="modal" data-target="#editTypeActionPers" type="button" class="btn btn-warning" onclick="showDataTypeAction('@t.IdTypeActionPers');"><i class="fa fa-pencil mr-2" aria-hidden="true"></i>Editar</button>

                        }
                        <button data-toggle="modal" data-target="#ModalBitacora" class="btn btn-primary" onclick="viewMoreTypeAction('@t.IdTypeActionPers');"><i class="fa fa-info-circle  mr-2" aria-hidden="true"></i>Detalles</button>

                    </td>

                </tr>
            }
        }




    </tbody>



</table>