
@model SICOAdmin1._0.Models.Consecutivo.Consecutivo

<!-- Modal Agregar-->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title" id="ModalTitle"> Agregar Consecutivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @*@using (Html.BeginForm("Add", "Consecutivo", FormMethod.Post, new { role = "form", @class = "row-12" }))
                    {*@
                @using (Html.BeginForm("Add", "Consecutivo", FormMethod.Post, new { role = "form", @class = "row-12" }))
                {
                    @Html.ValidationMessage("Error", new { @class = "text-danger" })
                    <div class="col-xl-4 col-md-6 col-sm-12 me-5">

                        @Html.LabelFor(c => c.Alias, new { @class = "mt-4" })
                        @Html.TextBoxFor(c => c.Alias, new { @class = "form-control", required = "required", HtmlAttributes = new { Type = "text" } })
                        @Html.ValidationMessage("Alias", null, new { @class = "text-danger" })
                        @Html.LabelFor(c => c.Mascara, new { @class = "mt-4" })
                        @Html.TextBoxFor(c => c.Mascara, new { @class = "form-control", placeHolder = "NNNN9999", required = "required", pattern = @"(([N]+[9]+[^\s]){1,30})|([9]){1,30}", HtmlAttributes = new { Type = "text" } })
                        @Html.ValidationMessage("Mascara", null, new { @class = "text-danger" })


                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12 me-5">
                        @Html.LabelFor(c => c.Activo, new { @class = "mt-4" })
                        @Html.CheckBoxFor(c => c.Activo, new { @class = "form-control", })
                        @Html.ValidationMessage("Activo", null, new { @class = "text-danger" })

                        @Html.LabelFor(c => c.ProximoValor, new { @class = "mt-4" })
                        @Html.TextBoxFor(c => c.ProximoValor, new { @class = "form-control", placeHolder = "Valor según la Mascara", required = "required", pattern = @"(([a-zA-Z0-9]){1,30})|(([9]){1,30})", HtmlAttributes = new { Type = "text" } })
                        @Html.ValidationMessage("Proximo Valor", null, new { @class = "text-danger" })


                    </div>

                    <div class="col mt-4 d-flex justify-content-center mb-2" style="margin-top:auto">
                        <button id="btnModalAgregar" style="margin-top: 10px" type="submit" class="btn btn-success" value="Guardar" onclick="jsRecargarComponente();">Guardar</button>
                        <button style="margin-top: 10px" type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

                    </div>
                }



            </div>

        </div>
    </div>
</div>

