@model SICOAdmin1._0.Models.Payroll.Payroll
@using SICOAdmin1._0.Models.Payroll

@{
    ViewBag.Title = "Nomina";

    List<Payroll> lstPayrolls = (List<Payroll>)ViewBag.Payrolls;
    List<SelectListItem> lstConsecutivos = (List<SelectListItem>)ViewBag.lstConsecutivos;

}



<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>

@section styles{


}


<div class="container margin-container p-4 glass">

    <div class="row fila">

        <!--TEXTO-->
        <div class="col-xl-2 col-md-3 d-flex justify-content-center">
            <h3 class="mt-0">Nóminas</h3>
        </div>
        <!--BOTON-->
        <div class="col-xl-2 col-md-2 mb-3 ">
            <button id="Crear" data-toggle="modal" data-target="#Modal" type="button" class="btn btn-primary col-12">
                <i class="fa fa-plus-circle mr-1" aria-hidden="true"></i>Agregar</button>

        </div>
        <!--Barra busqueda-->
        <div class="col-xl-4 col-md-6 offset-xl-3 offset-md-1">
            <div class="input-group mb-2">
                <input type="text"
                       class="form-control"
                       placeholder="Buscar..."
                       aria-label="Buscar..."
                       aria-describedby="button-search"
                       id="buscar" />
                <button class="btn btn-outline-secondary"
                        type="button"
                        disabled="disabled"
                        id="button-search">
                    Buscar
                </button>
            </div>
        </div>

        <div class="col-lg-12 row fila scrol-tablex">
            <table id="tbPayrolls" class="table table-bordered">
                <thead class="text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Frecuencia</th>
                        <th scope="col"># Consecutivo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>

                <tbody style="text-align:center;">
                    @foreach (var e in lstPayrolls)
                    {
                        <tr>
                            <td>@e.IdNomina </td>
                            <td>@e.Descripcion </td>
                            <td>@e.Frecuencia </td>
                            <td>@e.IdConsecutivo </td>
                            <td>

                                <button id="Editar" data-toggle="modal" data-target="#ModalUpdate" type="button" value="Editar"
                                        class="btn btn-warning"
                                        onclick="jsmostrarDatos(@e.IdNomina);"><i class="fa fa-pencil mr-1" aria-hidden="true"></i>Editar</button>

                                <button class="btn btn-info" data-toggle="modal" data-target="#ModalBitacora" type="button" onclick="jsBitacora(@e.IdNomina);"><i class="fa fa-book mr-1" aria-hidden="true"></i>Bitacora</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal Agregar-->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title" id="ModalTitle"> Agregar Nómina</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form action="@Url.Action("Add", "Payroll")" method="post" id="frm">
                    <div class="col-12 d-xl-flex d-md-flex justify-content-md-between justify-content-xl-center">

                        <div class="form-group">
                            <label class="mt-4 h6">Descripcion</label>
                            <input required type="text" class="form-control" name="Descripcion" pattern="(?=.+[\w]).{1,30}|(?=.+[\W]).{1,30}" />


                            <label class="mt-4 h6">Tipo de Nómina</label>
                            <select required name="Frecuencia" id="Frecuencia" class="form-control h6 was-validated">
                                <option value="" selected disabled hidden>Tipo Nomina</option>
                                <option value="SEM">Semanal</option>
                                <option value="BSM">Bisemanal</option>
                                <option value="QUIN">Quincenal</option>
                                <option value="MEN">Mensual</option>
                            </select>


                            <div class="form-group">
                                <label class="mt-4 h6">Consecutivo</label>
                                <select required name="IdConsecutivo" id="IdConsecutivo" class="form-control h6">
                                    <option value="" selected disabled hidden>Seleccione un Consecutivo</option>
                                    @foreach (var e in lstConsecutivos)
                                    {
                                        <option value="@e.Value"> @e.Text</option>
                                    }
                                </select>

                            </div>

                        </div>


                    </div>

                    <div class="col mt-4 d-flex justify-content-center mb-2">
                        <button id="btnModalAgregar" style="margin-top: 10px" type="submit" class="btn btn-success" value="Guardar">Guardar</button>
                        <button style="margin-top: 10px" type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>z
                </form>

            </div>
        </div>
    </div>
</div>




<!-- Modal Bitacora-->
<div class="modal fade" id="ModalBitacora" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title" id="ModalTitle">Bitacora Nómina</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <!--FILA TABLE-->
                <div class="row fila scrol-tablex">
                    <table id="tbBitacora" class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Usuario Creacion</th>
                                <th scope="col">Fecha Creacion</th>
                                <th scope="col">Usuario Modificacion</th>
                                <th scope="col">Fecha Modificacion</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center;">

                            <tr id="tablaBitacora">
                                <td id="tbIdNomina"> </td>
                                <td id="tbUsuarioCreacion"> </td>
                                <td id="tbFechaCreacion"> </td>
                                <td id="tbUsuarioModificacion"> </td>
                                <td id="tbFechaModificacion"> </td>
                            </tr>

                        </tbody>
                    </table>
                    <button style="margin-top: 15px" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
                <!-- -->
            </div>
        </div>
    </div>
</div>




<!-- Modal Update-->
<div class="modal fade" id="ModalUpdate" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title" id="ModalTitle"> Editar Nómina</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">


                <form action="@Url.Action("Update", "Payroll")" method="post" id="upfrm" class="was-validated">
                    <div class="col-12 d-xl-flex d-md-flex justify-content-md-between justify-content-xl-center">

                        <div class="form-group">

                            @Html.HiddenFor(c => c.IdNomina, new { @class = "", id = "txtId" })

                            <label class="mt-4 h6">Descripcion</label>
                            <input required type="text" class="form-control" name="descripcion" id="upDescripcion" pattern="(?=.+[\w]).{1,30}|(?=.+[\W]).{1,30}" />

                            <label class="mt-4 h6">Tipo de Nómina</label>
                            <select required name="Frecuencia" id="upFrecuencia" class="form-control h6">

                                <option value="SEM">Semanal</option>
                                <option value="BSM">Bisemanal</option>
                                <option value="QUIN">Quincenal</option>
                                <option value="MEN">Mensual</option>
                            </select>

                            <div class="form-group">
                                <label class="mt-4 h6">Consecutivo</label>
                                <select required name="IdConsecutivo" id="upIdConsecutivo" class="form-control h6">
                                    <option value="" selected disabled hidden>Seleccione un Consecutivo</option>
                                    @foreach (var e in lstConsecutivos)
                                    {
                                        <option value="@e.Value"> @e.Text</option>
                                    }
                                </select>

                            </div>
                            <div class="col mt-4 d-flex justify-content-center mb-2">
                                <button id="btnModalAgregar" style="margin-top: 10px" type="submit" class="btn btn-success" value="Guardar">Guardar</button>
                                <button style="margin-top: 10px" type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>

                </form>


            </div>

        </div>
    </div>
</div>



@section scripts{

    <script type="text/javascript">
        console.log('@TempData["Message"]');
        console.log('@TempData["Message"]');
        @if (TempData["Resultado"] != null)
        {
            if (TempData["Resultado"].ToString() == "1")
            {
                 <text>
                    $(document).ready(function () {
                        swal({
                            title: "¡¡Exitoso!!", text: ('@TempData["Message"]'), type: "success", timer: 3000, showConfirmButton: false });
                        })
                </text>
            }
            else
            {
                <text>
                $(document).ready(function () {
                        swal({ title: "¡¡Error!!", text: ('@TempData["Message"]'), type: "error",timer: 3000, showConfirmButton: false});
                        })

                </text>
            }

        }
    </script>



}
<script>
    const tbId = document.getElementById("tbIdNomina");
    const tbUsuarioCreacion = document.getElementById("tbUsuarioCreacion");
    const tbUsuarioModificacion = document.getElementById("tbUsuarioModificacion")

    const tbFechaCreacion = document.getElementById("tbFechaCreacion");
    const tbFechaModificacion = document.getElementById("tbFechaModificacion");

    function jsBitacora(pId) {
        fetch("@Url.Content("~/Payroll/pintarDatos")" + "?pId=" + pId)
            .then(res => res.ok ? res.json() : null)
            .then(res => {


                console.log(res);
                tbId.textContent = res.IdNomina;
                tbId.value = res.IdNomina;

                tbUsuarioCreacion.textContent = res.UsuarioCreacion;
                tbUsuarioCreacion.value = res.UsuarioCreacion;

                tbUsuarioModificacion.textContent = res.UsuarioModificacion;
                tbUsuarioModificacion.value = res.UsuarioModificacion;

                tbFechaCreacion.textContent = res.FechaCreacion;
                tbFechaCreacion.value = res.FechaCreacion;

                tbFechaModificacion.textContent = res.FechaModificacion;
                tbFechaModificacion.value = res.FechaModificacion;

            })

    }


    const idNom = document.getElementById("txtId");

    //El tipo de variable LET se utiliza para los select
    //lo unico que cambia al hacerlo con let y const, es el tipo de variable
    let idCons = document.getElementById("upIdConsecutivo");

    const idDesc = document.getElementById("upDescripcion");
    const idFrec = document.getElementById("upFrecuencia");
    function jsmostrarDatos(pId) {

          fetch("@Url.Content("~/Payroll/pintarDatos")" + "?pId=" + pId)
            .then(res => res.ok ? res.json() : null)
            .then(res => {
                idDesc.textContent = res.Descripcion;
                idDesc.value = res.Descripcion;

                idNom.textContent = res.IdNomina;
                idNom.value = res.IdNomina;

                if (res.Frecuencia == "SM") {
                    idFrec.options.item(0).selected = 'selected';
                } else if (res.Frecuencia == "BSM") {
                    idFrec.options.item(1).selected = 'selected';
                } else if (res.Frecuencia == "QUIN") {
                    idFrec.options.item(2).selected = 'selected';
                } else if (res.Frecuencia == "MEN") {
                    idFrec.options.item(3).selected = 'selected';
                }
                //Aqui selecciono el valor en la lista del select
                idCons.value = res.IdConsecutivo;
            })


        $(document).ready(function () {
            $("#buscar").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#tbConsecutivo tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    }
</script>

