
@using SICOAdmin1._0.Models.User
@{
    User UserLog = (User)Session["User"];
    string userNameLog = " ";
    string name = "";

    if (UserLog != null)
    {
        userNameLog = UserLog.userName;
        name = UserLog.name;
    }

    List<int?> lstActions = (List<int?>)Session["lstActions"];
    if (lstActions == null)
    {
        lstActions = new List<int?>();
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - SICOAdmin</title>
    <link rel="website icon" type="png" href="~/Content/images/Logo.png" style="border-radius:50px;" />


    @Styles.Render("~/Vendors/css")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">


</head>
<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            <!--BARRA NAVEGACION IZQUIERDA-->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index","Home")" class="site_title">
                            <img src="~/Content/images/Logo.png" class="logo" />  <span>SICOAdmin</span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Content/images/sinFotoPerfil.png" alt="imagen de usuario" class="img-circle profile_img" />
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido, </span>
                            @*<h2 id="usuarioLog" style="font-size:medium;">@userNameLog</h2> <br />*@
                            <h2 id="usuarioName" style="font-size:medium;">@name</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">

                                <li>
                                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Inicio</a>
                                </li>

                                <li>
                                    <a><i class="fa fa-pencil-square-o"></i> Control Operativo <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                        @if (@lstActions.Contains(10))
                                        {
                                            <li><a href="@Url.Action("Index", "User")">Admin. Usuarios</a></li>
                                        }
                                        @if (@lstActions.Contains(13))
                                        {
                                            <li><a href="@Url.Action("Index", "Perfil")">Admin. Perfiles</a></li>
                                        }



                                    </ul>
                                </li>


                                <li>
                                    <a><i class="fa fa-clone"></i>Planilla <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @if (@lstActions.Contains(16))
                                        {
                                            <li><a href="@Url.Action("Index", "Collaborator")">Admin. Colaboradores</a></li>
                                        }

                                        @if (@lstActions.Contains(25))
                                        {
                                            <li><a href="@Url.Action("Index", "ControlAsistencia")">Admin. Control Asistencias</a></li>
                                        }
                                        @if (@lstActions.Contains(29))
                                        {

                                            <li><a href="@Url.Action("Index", "Payroll")">Admin. Nominas</a></li>
                                        }
                                        @if (@lstActions.Contains(19))
                                        {
                                            <li><a href="@Url.Action("Index", "Consecutivo")">Admin. Consecutivos</a></li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i>Reporte Consulta<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index","Home")">Consultar E/S</a></li>
                                        <li><a href="@Url.Action("Index","Home")">Consultar Planilla</a></li>
                                        <li><a href="@Url.Action("Index","Home")">Cuotas por filial</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">

                        <div class=" d-flex justify-content-center">


                            @if (@lstActions.Contains(22))
                            {
                                <a href="@Url.Action("Index", "Parameters")" data-toggle="tooltip" data-placement="top" title="Par치metros">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                </a>
                            }


                            <a data-toggle="tooltip" data-placement="top" title="Pantalla completa">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true" onclick="launchFullScreen(document.documentElement);cancelFullScreen();"></span>
                            </a>

                            <a data-toggle="tooltip" data-placement="top" title="Cerrar sesi칩n" href="@Url.Action("Logout","Home")">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            </a>

                        </div>

                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!--/BARRA NAVEGACION IZQUIERDA-->
            <!-- BARRA NAVEGACION SUPERIOR-->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" style="font-size:medium;" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/images/sinFotoPerfil.png" alt="">@userNameLog
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-target="#exampleModalLong"> Perfil</a>
                                    <a href="@Url.Action("Index","Parameters")" class="dropdown-item" href="javascript:;">
                                        @*<span class="badge bg-red pull-right">50%</span>*@
                                        <span>Parametros</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Cambiar contrase침a</a>
                                    <a class="dropdown-item" href="@Url.Action("Logout","Home")"><i class="fa fa-sign-out pull-right"></i> Cerrar sesi칩n</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /BARRA NAVEGACION SUPERIOR -->
            <!--CONTENIDO RENDERIZADO-->
            <div class="right_col" role="main">

                @RenderBody()
            </div>
            <!--/CONTENIDO RENDERIZADO-->
            <!-- FOOTER-->
            <footer>
                <div class="pull-right">
                    SICOAdmin - Condominios Bagatzi
                </div>
                <div class="clearfix"></div>
            </footer>
            <!--/FOOTER-->
        </div>
    </div>

    <script>
        function launchFullScreen(element) {
            if (element.requestFullScreen) {
                element.requestFullScreen();
            } else if (element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if (element.webkitRequestFullScreen) {
                element.webkitRequestFullScreen();
            }
        }
        function cancelFullScreen() {
            if (document.cancelFullScreen) {
                document.cancelFullScreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitCancelFullScreen) {
                document.webkitCancelFullScreen();
            }
        }
    </script>

    @Scripts.Render("~/Vendors/js")
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <!--Sive para hacer que el script contenidos en el contenido
        rederizado se ejecute despues de los scripts importantes
        asi se evita un problema-->
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)

</body>
</html>
