
@using SICOAdmin1._0.Models.User
@{
    User UserLog = (User)Session["User"];
    string userNameLog = " ";
    string name = "";
    string min = " ";

    if (UserLog != null)
    {
        userNameLog = UserLog.userName;
        name = UserLog.name;
        min = (UserLog.lastEntry).Minute.ToString();
    }

    List<int?> lstActions = (List<int?>)Session["lstActions"];
    if (lstActions == null)
    {
        lstActions = new List<int?>();
    }


    //Área para notificaciones
    bool flag = true;
    String mess = (String)Session["Notification"];//Notificación de días vencimiento contraseña
    if (mess == null)
    {
        mess = "No tiene notificaciones nuevas";
        flag = false;
    }


}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - SICOAdmin</title>
    <link rel="website icon" type="png" href="~/Content/images/Logo.png" style="border-radius:50px;" />


    @Styles.Render("~/Vendors/css")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">


</head>
<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            <!--BARRA NAVEGACION IZQUIERDA-->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index","Home")" class="site_title">
                            <img src="~/Content/images/Logo.png" class="logo" />  <span>SICOAdmin</span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Content/images/sinFotoPerfil.png" alt="imagen de usuario" class="img-circle profile_img" />
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido, </span>
                            @*<h2 id="usuarioLog" style="font-size:medium;">@userNameLog</h2> <br />*@
                            <h2 id="usuarioName" style="font-size:medium;">@name</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">

                                <li>
                                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Inicio</a>
                                </li>

                                <li>
                                    <a><i class="fa fa-pencil-square-o"></i> Control Operativo <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                        @if (@lstActions.Contains(10))
                                        {
                                            <li><a href="@Url.Action("Index", "User")">Admin. Usuarios</a></li>
                                        }
                                        @if (@lstActions.Contains(13))
                                        {
                                            <li><a href="@Url.Action("Index", "Perfil")">Admin. Perfiles</a></li>
                                        }

                                        <li><a href="@Url.Action("Index", "Filial_Person")">Condominos</a></li>

                                        <li><a href="@Url.Action("Index", "Client")">Clientes</a></li>

                                    </ul>
                                </li>


                                <li>
                                    <a><i class="fa fa-clone"></i> Planilla <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @if (@lstActions.Contains(16))
                                        {
                                            <li><a href="@Url.Action("Index", "Collaborator")">Admin. Colaboradores</a></li>
                                        }

                                        @if (@lstActions.Contains(25))
                                        {
                                            <li><a href="@Url.Action("Index", "ControlAsistencia")">Admin. Control Asistencias</a></li>
                                        }
                                        @if (@lstActions.Contains(29))
                                        {

                                            <li><a href="@Url.Action("Index", "Payroll")">Admin. Nominas</a></li>
                                        }
                                        @if (@lstActions.Contains(19))
                                        {
                                            <li><a href="@Url.Action("Index", "Consecutivo")">Admin. Consecutivos</a></li>
                                        }
                                        <li><a href="@Url.Action("Index", "Departure")">Admin. Paritdas</a></li>
                                        <li><a href="@Url.Action("Index", "TypeActionPersonal")">Admin. Tipo Accion Personal</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i> Reporte Consulta <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "Proveedor")">Admin. Proveedor</a></li>
                                        <li><a href="@Url.Action("Index", "Concepto")">Admin. Concepto</a></li>
                                        <li><a href="@Url.Action("Index","Home")">Consultar E/S</a></li>
                                        <li><a href="@Url.Action("Index","Home")">Consultar Planilla</a></li>
                                        <li><a href="@Url.Action("Index","Home")">Cuotas por filial</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">

                        <div class=" d-flex justify-content-center">


                            @if (@lstActions.Contains(22))
                            {
                                <a href="@Url.Action("Index", "Parameters")" data-toggle="tooltip" data-placement="top" title="Parámetros">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                </a>
                            }


                            <a data-toggle="tooltip" data-placement="top" title="Pantalla completa">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true" onclick="launchFullScreen(document.documentElement);cancelFullScreen();"></span>
                            </a>

                            <a data-toggle="tooltip" data-placement="top" title="Cerrar sesión" href="@Url.Action("Logout","Home")">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            </a>

                        </div>

                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!--/BARRA NAVEGACION IZQUIERDA-->
            <!-- BARRA NAVEGACION SUPERIOR-->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" style="font-size:medium;" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/images/sinFotoPerfil.png" alt="">@userNameLog
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-target="#exampleModalLong"> Perfil</a>
                                    @if (@lstActions.Contains(22))
                                    {
                                        <a href="@Url.Action("Index", "Parameters")" class="dropdown-item" href="javascript:;">
                                            @*<span class="badge bg-red pull-right">50%</span>*@
                                            <span>Parametros</span>
                                        </a>
                                    }
                                    <a class="dropdown-item" data-toggle="modal" data-target="#changePassModal">Cambiar contrasena</a>
                                    <a class="dropdown-item" href="@Url.Action("Logout","Home")"><i class="fa fa-sign-out pull-right"></i> Cerrar sesión</a>
                                </div>
                            </li>

                            <li id="notifi" role="presentation" class="nav-item dropdown open" title="Notificaciones">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    @if (flag)
                                    {
                                        <span class="badge bg-green">1</span>
                                    }
                                    else
                                    {

                                    }
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    @if (flag)
                                    {
                                        <li class="nav-item">
                                            <a class="dropdown-item">
                                                <span class="image"><img src="https://images.vexels.com/media/users/3/131139/isolated/preview/ff49ce17e1541baa9298514ce6ad37ae-icono-de-circulo-de-informacion.png" alt="Profile Image" /></span>
                                                <span>
                                                    <span style="font-size:medium">Notificacion</span>
                                                    <span id="gMinute" class="time"></span>
                                                </span>
                                                <span class="message" style="font-size:small">
                                                    @mess
                                                </span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a class="dropdown-item">
                                                <span class="message h3" style="font-size:medium">
                                                    @mess
                                                </span>
                                            </a>
                                        </li>
                                    }
                                    @*<li class="nav-item">
                                            <a class="dropdown-item">
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="dropdown-item">
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="dropdown-item">
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <div class="text-center">
                                                <a class="dropdown-item">
                                                    <strong>See All Alerts</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>*@
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /BARRA NAVEGACION SUPERIOR -->
            <!--CONTENIDO RENDERIZADO-->
            <div class="right_col" id="renderBody" role="main">

                @RenderBody()
            </div>
            <!--/CONTENIDO RENDERIZADO-->
            <!-- FOOTER-->
            <footer>
                <div class="pull-right">
                    SICOAdmin - Condominios Bagatzi
                </div>
                <div class="clearfix"></div>
            </footer>
            <!--/FOOTER-->
        </div>
    </div>

    <!--/MODAL PARA CAMBIO DE CONTRASEÑA-->
    <!-- Modal cambio de contraseña -->
    <div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Cambiar contrasena</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <form id="frmChangePass">
                        <div class="form-group">
                            <label class="mt-4 h6">Contrasena actual</label>
                            <input id="CPpassAct" required name="password" type="password" @*pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$*@ class="form-control" placeholder="(Ejm: Example12)" title="Debe ingresar al menos una mayúscula, una minúscula, un digito y tener entre 8 y 16 caracteres." />
                        </div>
                        <div class="form-group">
                            <label class="mt-4 h6">Contrasena nueva</label>
                            <input id="CPpassNew" required name="password" type="password" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" class="form-control" placeholder="(Ejm: Example12)" title="Debe ingresar al menos una mayúscula, una minúscula, un digito y tener entre 8 y 16 caracteres." />
                        </div>
                        <div class="form-group">
                            <label class="mt-4 h6">Confirmar contrasena</label>
                            <input id="CPpassConfirm" required name="password1" type="password" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" class="form-control" placeholder="(Ejm: Example12)" title="Debe ingresar al menos una mayúscula, una minúscula, un digito y tener entre 8 y 16 caracteres." />

                            <span id="messagePass" class="mt-4 h7"></span> <!-- Aquí se mostrará el mensaje -->
                            <br />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            <button id="btnSubmitCP" type="button" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        //Variables de confirmar contraseña
        // Obtener los inputs y el span -- Cambio de contraseña
        var CPuserName = document.getElementById("CPuserName");
        var CPpassAct = document.getElementById("CPpassAct");
        var CPpassNew = document.getElementById("CPpassNew");
        var CPpassConfirm = document.getElementById("CPpassConfirm");

        var message = document.getElementById("messagePass");
        var btnS = document.getElementById("btnSubmitCP");

        // Agregar un evento al cambiar el valor de los inputs -- Cambio de contraseña
        CPpassNew.addEventListener("input", compare);
        CPpassConfirm.addEventListener("input", compare);
        //EventListener boton cambiar contraseña
        CPpassAct.addEventListener("input", enabledBtnSubmit);
        CPpassNew.addEventListener("input", enabledBtnSubmit);
        CPpassConfirm.addEventListener("input", enabledBtnSubmit);

        cargarEventListener();
        function cargarEventListener() {
            btnSubmitCP.addEventListener('click', changePass);
        }

        function launchFullScreen(element) {
            if (element.requestFullScreen) {
                element.requestFullScreen();
            } else if (element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if (element.webkitRequestFullScreen) {
                element.webkitRequestFullScreen();
            }
        }
        function cancelFullScreen() {
            if (document.cancelFullScreen) {
                document.cancelFullScreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitCancelFullScreen) {
                document.webkitCancelFullScreen();
            }
        }

        function changePass(e) {
        e.preventDefault();

            fetchMethod({
                url: "@Url.Content("~/User/CambiarContrasena")",
                body: {
                    PassAct: document.querySelector('#CPpassAct').value,
                    PassNew: document.querySelector('#CPpassNew').value,
                },
                cbSuccess: (res) => {
                    if (res.result) {
                        console.log("Sí");
                        cargarComponent({
                                container: "renderLocal",
                                url: "@Url.Content("~/Access/Login")",
                        })
                        swal({
                            title: "Correcto!", text: res.message + ", por favor ingrese de nuevo...", type: "success",
                            showConfirmButton: false
                        }
                        );
                        setTimeout( function() { document.location.href = "@Url.Action("Logout","Home")" }, 2500);
                        //swal('Correcto!',
                        //    res.message + ', por favor ingrese de nuevo...',
                        //    'success',
                        //    didOpen: () => {
                        //        Swal.showLoading()
                        //    }
                        //)
                        //setTimeout( function() { document.location.href = "Url.Content("~/")" }, 2500);

                    }
                    else {
                        console.log("No");
                        swal('Ha ocurrido un error!',
                            res.message + ', por favor ingrese de nuevo...',
                            'error')
                    }
                }
            })
    }

        //Confirmar cambio de contraseña
        function submitForm(form) {
            console.log(form);
            swal({
                title: "Seguro de cambiar su contraseña?",
                text: "No podrás revertir este cambio!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, cambiar la contraseña!',
            }).then((result) => {
                console.log(result);
                if (result.isConfirmed) {
                    changePass();
                }
            })
            //Swal.fire({
            //    title: 'Seguro de cambiar su contraseña?',
            //    text: "No podrás revertir este cambio!",
            //    icon: 'warning',
            //    showCancelButton: true,
            //    confirmButtonColor: '#3085d6',
            //    cancelButtonColor: '#d33',
            //    confirmButtonText: 'Sí, cambiar la contraseña!'
            //}).then((result) => {
            //    if (result.isConfirmed) {
            //        changePass();
            //    }
            //})
            //return false;
        }
    //Función para activar boton de cambiar contraseña
    function enabledBtnSubmit() {
        if ((CPpassAct.value && CPpassNew.value && CPpassConfirm.value) != "") {
            if (CPpassConfirm.style.colorBorder != 'red') {
                btnS.disabled = false;
            }

        } else {
            btnS.disabled = true;
            btnS.title = "Debe llenar todos los campos."
        }
    }
    // Definir la función que compara los valores de la contraseña nueva
    function compare() {
        if (($('#CPpassNew').val().length > 0) || ($('#CPpassConfirm').val().length > 0)) {
            if (CPpassAct.value != CPpassNew.value) {
                // Si los valores son iguales, mostrar un mensaje verde
                if (CPpassNew.value == CPpassConfirm.value) {
                    message.innerHTML = "Las contrasenas coinciden";
                    message.style.color = "green";
                    CPpassNew.style.borderColor = "green";
                    CPpassConfirm.style.borderColor = "green";
                }
                // Si los valores son diferentes, mostrar un mensaje rojo
                else {
                    message.innerHTML = "Las contrasenas no coinciden";
                    message.style.color = "red";
                    CPpassNew.style.borderColor = "red";
                    CPpassConfirm.style.borderColor = "red";
                }
            } else {
                message.innerHTML = "La contrasena actual y la nueva no pueden ser iguales";
                message.style.color = "red";
                CPpassNew.style.borderColor = "red";
                CPpassConfirm.style.borderColor = "red";
            }
        }
    }

        //Minutos notificación
        @*cargarEventListener();
        function cargarEventListener() {
            notifi.addEventListener('click', time);
        }
        function time(e) {
            e.preventDefault();
            console.log("entra");
            let time = new Date().getMinutes();
            console.log(time);
            let time1 = @min;
            console.log(time1);
            gMinute.textContent = 'Hace ' + (time - time1) + ' minutos';

        }*@
    </script>

    @Scripts.Render("~/Vendors/js")
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <!--Sive para hacer que el script contenidos en el contenido
        rederizado se ejecute despues de los scripts importantes
        asi se evita un problema-->
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)

</body>
</html>
