@model List<SICOAdmin1._0.Models.Parameter.Parameter>

@{
    int i = 0;
    List<int?> lstActions = (List<int?>)Session["lstActions"];
    if (lstActions == null)
    {
        lstActions = new List<int?>();
    }
}
<div class="pre-scrollable col-12">

    <table id="tbParameters" class="table table-bordered table-striped">
        <thead class="text-center">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mensualidad</th>
                <th scope="col"># Conse Recibo</th>
                <th scope="col">Interés Mora</th>
                <th scope="col">Domento Cobro</th>
                <th scope="col">Condición Pago</th>
                <th scope="col">Estado</th>
                @if (lstActions.Contains(21))
                {
                    <th scope="col">Acciones</th>
                }
            </tr>
        </thead>

        <tbody style="text-align:center;">
            @if (Model != null)
            {
                foreach (var e in Model)
                {
                    i++;
                    <tr>
                        <td>@e.IdParameter</td>
                        <td>@Convert.ToDecimal(@e.MonthlyPayment).ToString("C")</td>
                        <td>@e.IdConsecRecibo</td>
                        <!--INTERES MORA-->
                        <td>@Convert.ToDecimal(@e.InterestBlackberry).ToString(".00") %</td>
                        <td>@e.DocumentTypePayment</td>
                        <td>@e.PaymentCondition</td>
                        @if (e.Status == "1")
                        {
                            <td>Activado</td>
                        }
                        else
                        {
                            <td>Desactivado</td>
                        }

                        @if (lstActions.Contains(21))
                        {

                            <td>
                                <button id="Editar" data-toggle="modal" data-target="#ModalUpdate" type="button" value="Editar"
                                        class="btn btn-warning"
                                        onclick="showData(@e.IdParameter)">
                                    <i class="fa fa-pencil mr-1" aria-hidden="true"></i>Editar
                                </button>

                                <button class="btn btn-info" data-toggle="modal" data-target="#ModalBitacora"
                                        type="button" onclick="jsShowLog(@e.IdParameter)">
                                    <i class="fa fa-book mr-1" aria-hidden="true"></i>Bitacora
                                </button>

                                @if (e.Status == "0")
                                {
                                    <button id="btnActivar" class="btn btn-success"
                                            style="width: 35%;" type="button" onclick="jsChangeStatus(@e.IdParameter)">
                                        <i class="fa fa-unlock mr-1" aria-hidden="true"></i>Activar
                                    </button>
                                }
                                else
                                {
                                    <button id="btnDes" class="btn btn-danger"
                                            style="width: 35%;" onclick="jsChangeStatus(@e.IdParameter)">
                                        <i class="fa fa-lock mr-1" aria-hidden="true"></i>Desactivar
                                    </button>
                                }

                            </td>

                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*<div class="d-flex m-3 ">
    <div class="col">
        <label>Pagina Actual: <span id="pagActual">@ViewBag.PagActual</span></label>
        <label>Total de paginas: <span id="totalPag">@ViewBag.totalPag.Value</span></label>

        <div class="col-1">

            @if (@ViewBag.PagActual > 1)
            {
                <input type="button" class="btn btn-outline-primary" value="<" data-value="@ViewBag.PagActual" name="previousPage" />
            }
            @if (@ViewBag.PagActual != @ViewBag.totalPag.Value && i != 0)
            {
                <input type="button" class="btn btn-outline-primary" value=">" data-value="@ViewBag.PagActual" name="nextPage" />

            }
        </div>

    </div>

</div>*@
