@model SICOAdmin1._0.Models.SP_C_BuscarProveedor_Result


<form id="editarProveedor">

    <div class="row">
        <div class="col-sm-12 col-md-2"></div>
        <div class="col-sm-12 col-md-4">
            <div class="form-group" id="grupo__nombreEdit">
                <label for="concepto"># Proveedor</label>
                <input required disabled name="concepto" type="text" class="form-control" id="idProveedorEdit" value="@Model.IdProveedor" >
            </div>
            <div class="form-group" id="grupo__nombreEdit">
                <label for="nombre">Nombre</label>
                <input  name="nombre" type="text" class="form-control" id="nombreEdit" value="@Model.Nombre" placeholder="Ingrese el nombre" pattern="[A-Za-z]+" title="Solo se permiten letras" required>
                <label for="nombre" class="m-1 msj__label" id="lblNombreErrorEdit"></label>
            </div>

            <div class="form-group" id="grupo__identificacionEdit">
                <label for="identificacion">Identificacion</label>
                <input  name="identificacion" type="text" class="form-control" id="identificacionEdit" value="@Model.Identificacion" placeholder="Ingrese la cedula" pattern="[0-9]+" title="Solo se permiten numeros" required>
                <label for="identificacion" class="m-1 msj__label" id="lblIdentificacionErrorEdit"></label>
            </div>

            <div class="form-group" id="grupo__tipoEdit">

                <label for="tipo">Tipo</label>
                <select required name="tipo" class="custom-select" id="tipoEdit">
                    <option value="">Seleccione una opcion...</option>
                    @if (Model.Tipo == "1")
                    {

                        <option value="1" selected>tipo 1</option>
                        <option value="3">tipo 3</option>
                    }
                    else if (Model.Tipo == "2")
                    {
                        <option value="1">tipo 1</option>
                        <option value="2" selected>tipo 2</option>
                        <option value="3">tipo 3</option>
                    }
                    else
                    {
                        <option value="1">tipo 1</option>
                        <option value="2">tipo 2</option>
                        <option value="3" selected>tipo 3</option>
                    }
                </select>
                <label for="tipo" class="m-1 msj__label" id="lblTipoErrorEdit"></label>
            </div>

            <div class="form-group" id="grupo__contactoEdit">
                <label for="contacto">Contacto</label>
                <input name="contacto" type="number" class="form-control" id="contactoEdit" value="@Model.Contacto" placeholder="Ingrese el numero de contacto" pattern="[0-9]+" title="Solo se permiten numeros" required>
                <label for="contacto" class="m-1 msj__label" id="lblContactoErrorEdit"></label>
            </div>

            <div class="form-group" id="grupo__telefono1Edit">
                <label for="telefono1">Telefono 1</label>
                <input name="telefono1" type="number" class="form-control" id="telefono1Edit" value="@Model.Telefono1" placeholder="Ingrese el numero de telefono" pattern="[0-9]+" title="Solo se permiten numeros" required>
                <label for="telefono1" class="m-1 msj__label" id="lblTelefono1ErrorEdit"></label>
            </div>
        </div>
        <!--==================== COL 2 ====================-->
        <div class="col-sm-12 col-md-4">
            <div class="form-group" id="grupo__telefono2Edit">
                <label for="telefono2">Telefono 2</label>
                <input name="telefono2" type="number" class="form-control" id="telefono2Edit" value="@Model.Telefono2" placeholder="Ingrese el numero de telefono" pattern="[0-9]+" title="Solo se permiten numeros" required>
                <label for="telefono2" class="m-1 msj__label" id="lblTelefono2ErrorEdit"></label>
            </div>


            <div class="form-group" id="grupo__correoEdit">
                <label for="correo">Correo</label>
                <input required name="correo" type="email" class="form-control" id="correoEdit" value="@Model.CorreoElectronico" placeholder="Ingrese el correo">
                <label for="correo" class="m-1 msj__label" id="lblCorreoErrorEdit"></label>
            </div>

            <div class="form-group" id="grupo__condicionPagoEdit">
                <label for="condicionPago">condicion de Pago</label>
                <input name="condicionPago" type="number" class="form-control" id="condicionPagoEdit" value="@Model.CondicionPago" placeholder="numero de dias" pattern="[0-9]+" title="Solo se permiten numeros" required>
                <label for="condicionPago" class="m-1 msj__label" id="lblCondicionPagoErrorEdit"></label>
            </div>
            <div class="form-group" id="grupo__cuentaBancariaEdit">
                <label for="cuentaBancaria">Cuenta Bancaria</label>
                <input name="cuentaBancaria" type="text" class="form-control" id="cuentaBancariaEdit" value="@Model.CuentaBancaria" placeholder="Ingrese la cuenta bancaria" pattern="[A-Za-z0-9]+" title="Solo se permiten letras y números" required>
                <label for="cuentaBancaria" class="m-1 msj__label" id="lblCuentaBancariaErrorEdit"></label>
            </div>

            <div class="form-group" id="grupo__bancoEdit">
                <label for="banco">Nombre Del Banco</label>
                <input name="banco" type="text" class="form-control" id="bancoEdit" value="@Model.Banco" placeholder="Ingrese el banco que pertenece la cuenta" pattern="[A-Za-z0-9]+" title="Solo se permiten letras y números" required>
                <label for="banco" class="m-1 msj__label" id="lblBancoErrorEdit"></label>
            </div>

            <div class="form-group">
                <label for="estado">Estado</label>
                @if (Model.Activo == true)
                {
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="estado" value="1" checked>
                        <label class="form-check-label" for="estado">
                            Si
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="estado" value="0">
                        <label class="form-check-label" for="estado">
                            No
                        </label>
                    </div>

                }
                else
                {

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="estado" value="1">
                        <label class="form-check-label" for="estado">
                            Si
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="estado" value="0" checked>
                        <label class="form-check-label" for="estado">
                            No
                        </label>
                    </div>

                }

            </div>

        </div>
        <div class="col-sm-12 col-md-2"></div>
    </div>



    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4"></div>
        <div class=" col-sm-12 col-md-4 d-flex  justify-content-center">
            <!--

            href="Url.Action("Index", "Proveedor")"
                -->
            <button type="button" class="btn btn-secondary col-sm-6 col-md-6" name="regresar">Cerrar</button>
            <button type="submit" class="btn btn-primary col-sm-6 col-md-6">Editar</button>
        </div>
        <div class="col-sm-12 col-md-4"></div>
    </div>



</form>