@model List<SICOAdmin1._0.Models.SP_C_MostrarFilial_Result>
@{
    List<int?> lstActions = (List<int?>)Session["lstActions"];
    if (lstActions == null)
    {
        lstActions = new List<int?>();
    }

}
<div class="container margin-container p-4 glass" id="renderBody">


    <div class="row fila">

        <!--BOTON-->

        <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12"><h3 class="d-flex justify-content-center">Filial</h3></div>

        @if (lstActions.Contains(49)) {
            <button type="button"
                    class="btn btn-primary col-xl-2 col-lg-2 col-md-2 col-sm-12"
                    id="viewCreatePage">
                <i class="fa fa-plus-circle mr-1" aria-hidden="true"></i>
                Agregar
            </button>
        }


        <!--Barra busqueda-->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12  offset-xl-2 ">
            <div class="input-group ">
                <input type="text"
                       class="form-control"
                       placeholder="Buscar..."
                       aria-label="Buscar..."
                       aria-describedby="button-search"
                       id="buscar" />

            </div>
        </div>
    </div>
    <div class="row m-1 ">
        <select class="col-xl-1 col-lg-1 col-md-2 col-sm-2 form-control select-item border-light" aria-label="Default select example" id="tamanoPagina">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <!--FILA TABLE   row       tableAttendanceControl -->
    <div class="row fila   scrol-tablex" id="content-table">
        @Html.Partial("_TablaFilial", Model);
    </div>

</div>
@Html.Partial("_BitFilial")
@Html.Partial("_AgregarFilial")
@Html.Partial("_EditarFilial")


@section Scripts {
    <script type="text/javascript">
    //-----------------------------------------------------VARIABLES
        const d = document,
        $renderBody = d.getElementById("renderBody");


    $renderBody.addEventListener("click", (e) =>{

        let page = e.target.dataset.value || "";
        //-----------------------------------------------------Vista Crear
        if (e.target.id === "viewCreatePage") {

            console.log("Creando");
            $("#agregarFilial").modal("show");// LEVANTAMOS EL MODAL

        }
        //-----------------------------------------------------Vista Editar
        else if (e.target.id === "showEditModel") {

            let id = e.target.dataset.id;

            console.log("Editando");
            console.log(id);

            fetchMethod({
                url: "@Url.Content("~/Filial/GetFilial")?id=" + id,
                cbSuccess: (res) => {

                    d.getElementById("idFilialEdit").value = res.IdFilial;
                    d.getElementById("descripcionEdit").value = res.Descripcion;
                    console.log(res);
                }

            });

            $("#modalEditarFilial").modal("show");// LEVANTAMOS EL MODAL
            console.log("Editando");
        }
        //-----------------------------------------------------BTN Destalles
        else if (e.target.id === "btnBitacora") {

            let idFilial = e.target.dataset.id;
            console.log("Bitacora");

            fetchMethod({
                url: "@Url.Content("~/Filial/GetFilial")?id=" + idFilial,
                cbSuccess: (res) => {
                    console.log(res.FechaCreacion);
                    console.log(res.FechaModificacion);

                    let fechaC = formatDate(res.FechaCreacion);
                    let fechaM = formatDate(res.FechaModificacion);

                    console.log(fechaC);
                    console.log(fechaM);
                    d.getElementById("tbUsuarioCreacion").textContent = res.UsuarioModificacion;
                    d.getElementById("tbFechaCreacion").textContent = fechaC;
                    d.getElementById("tbUsuarioModificacion").textContent = res.UsuarioModificacion;
                    d.getElementById("tbFechaModificacion").textContent = fechaM;

                }
            })
            $("#ModalBitacora").modal("show");// LEVANTAMOS EL MODAL

        }
        //-----------------------------------------------------BTN Siguiente
        else if (e.target.name === "nextPage") {
            siguientePagina({
                sig: page,
                totalPage: d.getElementById("totalPag").textContent,
                CantRegistros: d.getElementById("tamanoPagina").value,
                url: "@Url.Content("~/Filial/_TablaFilial")",
                container: "content-table",
                palabraBuscar: d.getElementById("buscar").value.toLowerCase()
            })
        }
        //-----------------------------------------------------BTN Anterior
        else if (e.target.name === "previousPage")
        {
            retrocederPagina({
            ant: page,
            totalPage: d.getElementById("totalPag").textContent,
            tamanoPagina: d.getElementById("tamanoPagina").value,
            url: "@Url.Content("~/Filial/_TablaFilial")",
            container: "content-table",
            palabraBuscar: d.getElementById("buscar").value.toLowerCase()
            })
        }
    })

    //-----------------------------------------------------SUBMIT
    $renderBody.addEventListener("submit", (e) =>{
        e.preventDefault();
        console.log(e.target);
        //-----------------------------------------------------Crear Filial
        if (e.target.id === "createForm") {
            console.log("CREANDO");
            fetchMethod({
                 url: "@Url.Content("~/Filial/CrearFilial")", method: "POST",
                 body: {
                     Descripcion: d.getElementById("descripcion").value,
                     Estado: '1',

                 },

                cbSuccess: (res) => {
                    console.log(res);
                    if (res.status == 1) {
                        $("#agregarFilial").modal("hide");// OCULTA EL MODAL

                        cargarComponent({
                            container: "content-table",
                            url: "@Url.Content("~/Filial/_TablaFilial")"
                        });
                            clearInputsColor();
                        d.getElementById("#createForm").reset();
                        swal('Bien!',
                        res.mensaje,
                        'success')
                    } else {
                        swal('Opps!',
                            res.mensaje,
                            'error'
                        )
                    }
                    console.log(res);

                }
            })


        }
        //-----------------------------------------------------Editar Filial
        if (e.target.id === "EditForm") {
            console.log("preciono el btn al modal editar");

            fetchMethod({
                url: "@Url.Content("~/Filial/EditarFilial")",
                body: {
                    IdFilial: d.getElementById("idFilialEdit").value,
                    Descripcion: d.getElementById("descripcionEdit").value,
                },

                cbSuccess: (res) => {
                    if (res.status == 1) {
                        $("#modalEditarFilial").modal("hide");// OCULTA EL MODAL
                         console.log("salio al modal editar");
                        cargarComponent({
                            container: "content-table",
                            url: "@Url.Content("~/Filial/_TablaFilial")"
                        });
                       clearInputsColor();
                        d.getElementById("EditForm").reset();

                       swal('Bien!', res.mensaje,'success')
                    }
                    else
                    {
                         swal('Opps!',res.mensaje,'error')
                    }
                }
            })

        }

    })


    //-----------------------------------------------------CHANGE
        $renderBody.addEventListener("change", (e) => {
            if (e.target.name === 'stateFilial') {

                console.log("Entro al Cambio de estado");
                let idCambio = e.target.dataset.id;
                console.log(idCambio);

                fetchMethod({
                    url: "@Url.Content("~/Filial/ModificarEstadoFilial")?id=" + idCambio,
                    cbSuccess: (res) => {
                        if (res.status == 1) {
                            console.log(res.mensaje);
                            cargarComponent({
                                container: "content-table",
                                url: "@Url.Content("~/Filial/_TablaFilial")",
                                body: {
                                    totalPaginas: d.getElementById("totalPag").textContent,
                                    CantRegistros: d.getElementById("tamanoPagina").value,
                                    palabraBuscar: d.getElementById("buscar").value.toLowerCase(),
                                    NumPagina: (d.getElementById("pagActual").textContent - 1),
                                }
                            })
                            swal('Bien!',
                                res.mensaje,
                                'success')
                        }
                        else {
                            swal('Opps!',
                                res.mensaje,
                                'error')
                        }
                    }
                });
            }



            //-----------------------------------------------------Cambio de tamaño de tabla
            if (!(e.target.id === "tamanoPagina")) return false;

                console.log(d.getElementById("totalPag").textContent);
                console.log(e.target.value);
                console.log("@Url.Content("~/Filial/_TablaFilial")");
                console.log(d.getElementById("buscar").value.toLowerCase());

                cambioTamanoPagina({
                    totalPage: d.getElementById("totalPag").textContent,
                    tamanoPagina: e.target.value,
                    url: "@Url.Content("~/Filial/_TablaFilial")",
                    container: "content-table",
                    palabraBuscar: d.getElementById("buscar").value.toLowerCase()
                });


            
        })



    //-----------------------------------------------------KEYUP
    $renderBody.addEventListener("keyup", (e) => {
        //-----------------------------------------------------Buscar
         if (e.target.id === "buscar") {
             let palabraBuscar = e.target.value;
             console.log(palabraBuscar.toLowerCase());
             buscarPalabra({
                 url: "@Url.Content("~/Filial/_TablaFilial")",
                 container: "content-table",
                 palabraBuscar: d.getElementById("buscar").value.toLowerCase(),
                 tamanoPagina: d.getElementById("tamanoPagina").value
             });
             return false;
         }

    })

     //-----------------------------------------------------CONVERT FECHA
    function formatDate(dateString) {
        // Extraer los milisegundos del string
        const millis = parseInt(dateString.substring(6, 19));

        // Crear un objeto Date a partir de los milisegundos
        const date = new Date(millis);

        // Obtener día, mes y año en formato dd/mm/yy
        const day = ("0" + date.getDate()).slice(-2);
        const month = ("0" + (date.getMonth() + 1)).slice(-2);
        const year = date.getFullYear().toString().substring(2);

        // Retornar la fecha en formato dd/mm/yy
        return `${day}/${month}/${year}`;
    }

    </script>
}


