
@model List<SICOAdmin1._0.Models.SP_C_MostrarConceptos_Result>


@{ //int horaR = 0;

    int i = 0;
}



<table id="tColaboradores" class="table table-bordered ">
    <thead class="">
        <tr>
            <th scope="col" class="th"># Concepto</th>
            <th scope="col" class="th">Alias</th>
            <th scope="col" class="th">Descripción</th>
            <th scope="col" class="th">Tipo</th>
            <th scope="col" class="th">Unidad</th>
            <th scope="col" class="th">Salarial</th>
            <th scope="col" class="th">Fijo</th>
            <th scope="col" class="th">Acciones</th>
        </tr>
    </thead>
    <tbody style="text-align:center;">

        @if (Model != null)
        {
            foreach (var concept in Model)
            {
                i++;
                <tr>
                    <td>@concept.IdConcepto</td>
                    <td>@concept.Alias</td>
                    <td>@concept.Descripcion</td>
                    <td>@concept.Tipo</td>
                    <td>@concept.Unidad</td>
                    @if (@concept.Salarial)
                    {

                        <td>SI</td>
                    }
                    else
                    {
                        <td>NO</td>
                    }


                    @if (@concept.Fijo)
                    {
                        <td>SI</td>
                    } else{
                        <td>NO</td>
                    }



                    @*
                        data-toggle="modal" data-target="#editCtrlAsistencia"
                        data-toggle="modal" data-target="#viewMore"
                    *@

                    <td>
                        <button class="btn btn-warning" name="showEditModel" data-id="@concept.IdConcepto"><i class="fa fa-pencil mr-2" aria-hidden="true"></i>Editar</button>

                        <button class="btn btn-primary" name="showMore" data-id="@concept.IdConcepto">
                            <i class="fa fa-info-circle  mr-2" aria-hidden="true"></i>Detalles
                        </button>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

<div class="col">
    <div class="col">
        <label>Pagina Actual: <span id="pagActual" >@ViewBag.PagActual</span></label>
        <label>Total de paginas: <span id="totalPag">@ViewBag.totalPag.Value</span></label>
    </div>

    <div class="col mr-0">



        @if (@ViewBag.PagActual > 1)
        {
            <input type="button" class="btn btn-outline-primary" value="<" data-value="@ViewBag.PagActual" name="previousPage"/>
        }
        @if (@ViewBag.PagActual != @ViewBag.totalPag.Value && i != 0)
        {
            <input type="button" class="btn btn-outline-primary"  value=">" data-value="@ViewBag.PagActual"  name="nextPage" />

        }

    </div>



</div>