@model List<SICOAdmin1._0.Models.SP_C_Mostrar_Documentos_CXC_Result>

@{
    //List<SelectListItem> lstProviders = (List<SelectListItem>)ViewBag.lstProviders;
    int i = 0;

    List<int?> lstActions = (List<int?>)Session["lstActions"];
    if (lstActions == null)
    {
        lstActions = new List<int?>();
    }


    bool puedeModificar = false, puedeAgregarRecibo = false, puedeVerRecibos = false;



    if (lstActions.Contains(68)) { puedeModificar = true; }
    if (lstActions.Contains(90)) { puedeAgregarRecibo = true; }
    if (lstActions.Contains(92)) { puedeVerRecibos = true; }

}



<div class="pre-scrollable col-12">

    <table id="tbDocuments_CXC" class="table table-bordered table-striped ">

        <thead class="">
            <tr>
                <th scope="col" class="th"># Documento</th>
                <th scope="col" class="th">Cliente</th>
                <th scope="col" class="th">Tipo</th>
                <th scope="col" class="th">Monto</th>
                <th scope="col" class="th">Saldo</th>
                <th scope="col" class="th">Estado</th>
                <th scope="col" class="th">Condición Pago</th>
                <th scope="col" class="th">Fecha Documento</th>
                @*<th scope="col" class="th">Acciones</th>*@
            </tr>

        </thead>


        <tbody style="text-align:center;">
            @if (Model != null && Model.Count > 0)
            {
                i++;
                foreach (var d in Model)
                {
                    <tr>
                        <td>@d.Documento</td>
                        <td>@d.Nombre</td>
                        @if (@d.TipoDocumento == "mens")
                        {
                            <td>Mensualidad</td>
                        }
                        else if (d.TipoDocumento == "depo")
                        {
                            <td>Deposito</td>
                        }
                        <td>@Convert.ToDecimal(@d.Monto).ToString("C")</td>
                        <td>@Convert.ToDecimal(@d.Saldo).ToString("C")</td>
                        <td>@d.Estado</td>
                        <td>@d.CondicionPago</td>
                        <td>@d.FechaDocumento.ToString("yyyy-MM-dd")</td>

                        <td>
                            @if (puedeModificar)
                            {
                                <button id="btnEditDoc_cxc" type="button" class="btn btn-warning" data-id="@d.Documento">
                                    <i class="fa fa-pencil mr-2" aria-hidden="true"></i>Editar
                                </button>
                            }

                            <button data-id="@d.Documento" id="viewLogDoc_cxc" type="button" class="btn btn-primary">
                                <i class="fa fa-info-circle  mr-2" aria-hidden="true"></i>Detalles
                            </button>
                            @if (puedeAgregarRecibo)
                            {
                                <button data-id="@d.Documento" id="add_deposito_cxc" type="button" class="btn btn-outline-dark">
                                    <i class="fa fa-info-circle  mr-2" aria-hidden="true"></i>Agregar Deposito
                                </button>
                            }
                            @if (puedeVerRecibos)
                            {
                                <button data-id="@d.Documento" id="show_depositos_cxc" type="button" class="btn btn-outline-info">
                                    <i class="fa fa-info-circle  mr-2" aria-hidden="true"></i>Ver Depositos
                                </button>
                            }


                        </td>
                    </tr>

                }
            }
        </tbody>

    </table>
</div>

<div class="d-flex m-3 ">
    <div class="col">
        <label>Pagina Actual: <span id="pagActual">@ViewBag.PagActual</span></label>
        <label>Total de paginas: <span id="totalPag">@ViewBag.totalPag.Value</span></label>

        <div class="row">

            @if (@ViewBag.PagActual > 1)
            {
                <input type="button" class="btn btn-outline-primary" value="<" data-value="@ViewBag.PagActual" name="previousPage" />
            }
            @if (@ViewBag.PagActual != @ViewBag.totalPag.Value && i != 0)
            {
                <input type="button" class="btn btn-outline-primary" value=">" data-value="@ViewBag.PagActual" name="nextPage" />

            }
        </div>

    </div>

</div>