@model List<SICOAdmin1._0.Models.ControlAsistencia>
  

@{ //int horaR = 0;

    int i = 0;

    List<int?> lstActions = (List<int?>)Session["lstActions"];
    if (lstActions == null)
    {
        lstActions = new List<int?>();
    }

    bool puedeModificar = false;
    if (lstActions.Contains(24)) { puedeModificar = true; }
}



<table id="tColaboradores" class="table table-bordered ">
    <thead class="">
        <tr>
            <th scope="col" class="th"># Asistencia</th>
            <th scope="col" class="th">Nombre Colaborador</th>
            <th scope="col" class="th">Tipo Jornada</th>
            <th scope="col" class="th">Hora Regular</th>
            <th scope="col" class="th">Hora Extras</th>
            <th scope="col" class="th">Hora Dobles</th>
            <th scope="col" class="th">Hora Extra Doble</th>
            <th scope="col" class="th">Acciones</th>
        </tr>
    </thead>
    <tbody style="text-align:center;">

        @if (Model != null)
        {
            foreach (var ctrlAsistencia in Model)
            {
                i++;
                <tr>
                    <td>@ctrlAsistencia.IdAsistencia</td>
                    <td>@ctrlAsistencia.NomColaborador</td>
                    <td>@ctrlAsistencia.TipoJornada</td>
                    <td>@ctrlAsistencia.HorasRegulares</td>
                    <td>@ctrlAsistencia.HorasExtras</td>
                    <td>@ctrlAsistencia.HoraDoble</td>
                    <td>@ctrlAsistencia.HorasExtrasDobles</td>

                    @*
                        data-toggle="modal" data-target="#editCtrlAsistencia"
                        data-toggle="modal" data-target="#viewMore"
                    *@

                    <td>
                        @if (puedeModificar) {
                        <button class="btn btn-warning" onclick="llamarModalModCtrlAsist('@ctrlAsistencia.IdAsistencia');"><i class="fa fa-pencil mr-2" aria-hidden="true"></i>Editar</button>
                        }
                        <button class="btn btn-primary"  onclick="viewMore('@ctrlAsistencia.IdAsistencia');" ><i class="fa fa-info-circle  mr-2" aria-hidden="true"></i>Detalles</button>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

<div class="col">
    <div class="col">
        <label>Pagina Actual: <span id="numPagePerfUser">@ViewBag.PagActual</span></label>
        <label>Total de paginas: <span>@ViewBag.totalPag.Value</span></label>
    </div>

    <div class="col mr-0">



        @if (@ViewBag.PagActual > 1)
        {
            <input type="button" class="btn btn-outline-primary" value="<" onclick="jsRetroceder(@ViewBag.PagActual,@ViewBag.totalPag.Value)" />
        }
        @if (@ViewBag.PagActual != @ViewBag.totalPag.Value && i != 0)
        {
            <input type="button" class="btn btn-outline-primary" onclick="jsSiguiente(@ViewBag.PagActual,@ViewBag.totalPag.Value);" value=">" />

        }

    </div>



</div>